

    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="16:9" md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile md-rowspan="2" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-header><h3>{{Messages.collection[Messages.collection.length-1].content}}  --  r1:{{lesDatas.r1}} r2:{{lesDatas.r2}} r3:{{lesDatas.r3}} r4:{{lesDatas.r4}}</h3></md-grid-tile-header>
        <canvas class="chart chart-bubble" chart-data="data" chart-colors="colors" chart-options="options"></canvas>
        <md-grid-tile-footer><h3>Graph</h3></md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list> 
  </div>
